﻿<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="gn2.aspx.vb" Inherits="gn2" EnableEventValidation="false" MaintainScrollPositionOnPostback="true"%>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 

      <br/>
        <span lang="fr-ca" style="font-family: 'Berlin Sans FB Demi'; font-size: xx-large">Notes par cours et évaluations</span>
    <br />
    <div align="left">
    
        <br />
        <asp:DropDownList ID="DropDownList4" runat="server" DataSourceID="SqlDataSource7"
            DataTextField="ECOLE" DataValueField="ECOLE" AutoPostBack="True">
        </asp:DropDownList>
        <asp:SqlDataSource ID="SqlDataSource7" runat="server" ConnectionString="<%$ ConnectionStrings:CS_GN %>"
            ProviderName="<%$ ConnectionStrings:CS_GN.ProviderName %>" SelectCommand="">
            <SelectParameters>
                <asp:SessionParameter Name="ID_USER" SessionField="ID_USER" Type="String" />
            </SelectParameters>
        </asp:SqlDataSource>
        <asp:DropDownList ID="DropDownList16" runat="server" AutoPostBack="True">
            <asp:ListItem Value="20192020">2019-2020</asp:ListItem>
            <asp:ListItem Value="20182019">2018-2019</asp:ListItem>
            <asp:ListItem Value="20172018">2017-2018</asp:ListItem>
            <asp:ListItem Value="20162017">2016-2017</asp:ListItem>
            <asp:ListItem Value="20152016">2015-2016</asp:ListItem>
            <asp:ListItem Value="20142015">2014-2015</asp:ListItem>
			<asp:ListItem Value="20132014">2013-2014</asp:ListItem>
			<asp:ListItem Value="20122013">2012-2013</asp:ListItem>
			<asp:ListItem Value="20112012">2011-2012</asp:ListItem>
			<asp:ListItem Value="20102011">2010-2011</asp:ListItem>
        </asp:DropDownList>
        <asp:DropDownList ID="DropDownList1" runat="server" 
            DataSourceID="SqlDataSource1" DataTextField="NOM" 
            DataValueField="M_MEMBRE_ID" AutoPostBack="True">
        </asp:DropDownList>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
            ConnectionString="<%$ ConnectionStrings:CS_GN %>" 
            ProviderName="<%$ ConnectionStrings:CS_GN.ProviderName %>" >
        </asp:SqlDataSource>
		
        <br />
        <br />
        <%--Classes élémentaires:<br />
        <br />
        <br />--%>
        
        Classes secondaires - Choisir un cour:
        <asp:DropDownList ID="DropDownList2" runat="server" 
            DataSourceID="SqlDataSource2" DataTextField="LISTE_CLASSES" 
            DataValueField="UNIQUEID" AutoPostBack="True">
        </asp:DropDownList>
        <asp:SqlDataSource ID="SqlDataSource2" runat="server" 
            ConnectionString="<%$ ConnectionStrings:CS_GN %>" 
            ProviderName="<%$ ConnectionStrings:CS_GN.ProviderName %>" SelectCommand="">
       <%-- <SelectParameters>
                <asp:ControlParameter ControlID="DropDownList1" Name="M_MEMBRE_ID" PropertyName="SelectedValue" Type="String" />
        </SelectParameters>--%>
       </asp:SqlDataSource>

        <br />
        <br /><%--EnableHeaderContextMenu="true" EnableHeaderContextFilterMenu="true"--%><%--AllowFilteringByColumn="true" IsFilterItemExpanded="false"--%>
        Moyenne par élève:<br/>
        <telerik:radgrid ID="RadGrid1" runat="server" DataSourceID="SqlDataSource3" 
            GridLines="None" AllowSorting="True" AllowFilteringByColumn="True"   
            ShowGroupPanel="True" Skin="Hay" AutoGenerateColumns="False" >
   <ExportSettings HideStructureColumns="true" ExportOnlyData="True" >
            <Excel Format="ExcelML" />
        </ExportSettings>
        <%--<ClientSettings><Scrolling AllowScroll="true" UseStaticHeaders="true" /></ClientSettings>  --%>
        
        <MasterTableView Width="100%" CommandItemDisplay="Top" 
                DataSourceID="SqlDataSource3"  >
    <Columns>
        <telerik:gridboundcolumn DataField="PRÉNOM" HeaderText="PRÉNOM" 
            SortExpression="PRÉNOM" UniqueName="PRÉNOM">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="NOM" HeaderText="NOM" 
            SortExpression="NOM" UniqueName="NOM">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="SEXE" HeaderText="SEXE" 
            SortExpression="SEXE" UniqueName="SEXE" FilterControlWidth="40">
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="PEI" HeaderText="PEI" 
            SortExpression="PEI" UniqueName="PEI" FilterControlWidth="40">
        </telerik:GridBoundColumn>
      
        <telerik:gridboundcolumn DataField="NOTE_BULLETIN" HeaderText="NOTE BULLETIN" HeaderStyle-Width="60"
            SortExpression="NOTE_BULLETIN" UniqueName="NOTE_BULLETIN" DataType="System.Decimal" FilterControlWidth="40">
<HeaderStyle Width="60px"></HeaderStyle>
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="CC" DataType="System.Decimal" 
            HeaderText="CC" SortExpression="CC" AllowFiltering="False"
            UniqueName="CC" Visible="false">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="HP" DataType="System.Decimal" 
            HeaderText="HP" SortExpression="HP" AllowFiltering="False"
            UniqueName="HP" Visible="false">
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="CO" DataType="System.Decimal" 
            HeaderText="CO" SortExpression="CO" AllowFiltering="False"
            UniqueName="CO" Visible="false">
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="MA" DataType="System.Decimal" 
            HeaderText="MA" SortExpression="MA" AllowFiltering="False"
            UniqueName="MA" Visible="false">
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="CC_N" 
            HeaderText="CC_N" SortExpression="CC_N" AllowFiltering="False"
            UniqueName="CC_N">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="HP_N" 
            HeaderText="HP_N" SortExpression="HP_N" AllowFiltering="False"
            UniqueName="HP_N">
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="CO_N" 
            HeaderText="CO_N" SortExpression="CO_N" AllowFiltering="False"
            UniqueName="CO_N">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="MA_N" 
            HeaderText="MA_N" SortExpression="MA_N" AllowFiltering="False"
            UniqueName="MA_N">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="EXAMEN" DataType="System.Decimal" 
            HeaderText="EXAMEN" SortExpression="EXAMEN" AllowFiltering="False"
            UniqueName="EXAMEN">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="EXAM_N" 
            HeaderText="EXAM_N" SortExpression="EXAM_N" 
            UniqueName="EXAM_N" FilterControlWidth="40">
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="SEMESTRE" DataType="System.Decimal" 
            HeaderText="SEMESTRE" SortExpression="SEMESTRE" 
            UniqueName="SEMESTRE" FilterControlWidth="40">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="SEMESTRE_N" 
            HeaderText="SEMESTRE_N" SortExpression="SEMESTRE_N" 
            UniqueName="SEMESTRE_N" AllowFiltering="False" >
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="MOYENNE" DataType="System.Decimal" AllowFiltering="False"
            HeaderText="MOYENNE" SortExpression="MOYENNE" UniqueName="MOYENNE">
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="AJUSTEMENT" DataType="System.Decimal" 
            HeaderText="AJUSTEMENT" SortExpression="AJUSTEMENT" AllowFiltering="False"
            UniqueName="AJUSTEMENT">
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="MOYENNE_AJUSTEE" DataType="System.Decimal" 
            HeaderText="MOYENNE AJUSTÉE" SortExpression="MOYENNE_AJUSTEE" AllowFiltering="False"
            UniqueName="MOYENNE_AJUSTEE" HeaderStyle-Width="80" >
<HeaderStyle Width="80px"></HeaderStyle>
        </telerik:GridBoundColumn>
       
        <telerik:gridboundcolumn DataField="MOYENNE_N" HeaderText="MOYENNE_N" 
            SortExpression="MOYENNE_N" UniqueName="MOYENNE_N" FilterControlWidth="40">
        </telerik:GridBoundColumn>
        
        <telerik:gridboundcolumn DataField="MOYENNE_AJUSTEE_N" 
            HeaderText="MOYENNE AJUSTÉE_N"  HeaderStyle-Width="80" HeaderStyle-Wrap="true" SortExpression="MOYENNE_AJUSTEE_N" 
            UniqueName="MOYENNE_AJUSTEE_N" FilterControlWidth="40">
<HeaderStyle Wrap="True" Width="80px"></HeaderStyle>
        </telerik:GridBoundColumn>
        <telerik:gridboundcolumn DataField="M_A_QUITTE" HeaderText="M_A_QUITTE" 
            SortExpression="M_A_QUITTE" UniqueName="M_A_QUITTE" FilterControlWidth="40">
        </telerik:GridBoundColumn>
    </Columns>
    <CommandItemSettings  ShowExportToWordButton="true" ShowExportToExcelButton="true" ShowExportToCsvButton="true" 
            ShowExportToPdfButton="false" ShowAddNewRecordButton="false" ShowRefreshButton="true" />
</MasterTableView>
            <ClientSettings AllowDragToGroup="True"></ClientSettings>
        </telerik:radgrid>
        <asp:SqlDataSource ID="SqlDataSource3" runat="server" 
            ConnectionString="<%$ ConnectionStrings:CS_GN %>" 
            ProviderName="<%$ ConnectionStrings:CS_GN.ProviderName %>" >
       <%-- <SelectParameters>
            <asp:SessionParameter Name="m_ecole" SessionField="m_ecole" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_classe_code" SessionField="m_classe_code" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_codecours" SessionField="m_codecours" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_periode_ref" SessionField="m_periode_ref" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_strand_code" SessionField="m_strand_code" Type="String" DefaultValue="" />
        </SelectParameters>--%>
        </asp:SqlDataSource>
        <br />
        <br />
        
       <span lang="fr-ca">Liste des évaluations:</span><asp:SqlDataSource ID="SqlDataSource6" runat="server" 
            ConnectionString="<%$ ConnectionStrings:CS_GN %>" 
            ProviderName="<%$ ConnectionStrings:CS_GN.ProviderName %>">

        <%--<SelectParameters>
            <asp:SessionParameter Name="m_ecole" SessionField="m_ecole" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_classe_code" SessionField="m_classe_code" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_codecours" SessionField="m_codecours" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_strand_code" SessionField="m_strand_code" Type="String" DefaultValue="" />
        </SelectParameters>--%>
</asp:SqlDataSource>
        
        
        <telerik:RadGrid ID="RadGrid2" runat="server" AllowFilteringByColumn="True" 
            AllowSorting="True" DataSourceID="SqlDataSource4" GridLines="None" 
            ShowGroupPanel="True" Skin="Hay" AutoGenerateColumns="False">
               <ExportSettings HideStructureColumns="true" ExportOnlyData="True" >
            <Excel Format="ExcelML" />
        </ExportSettings>
<MasterTableView CommandItemDisplay="Top" DataSourceID="SqlDataSource4">
<RowIndicatorColumn>
<HeaderStyle Width="20px"></HeaderStyle>
</RowIndicatorColumn>

<ExpandCollapseColumn>
<HeaderStyle Width="20px"></HeaderStyle>
</ExpandCollapseColumn>
    <Columns>
        <telerik:GridBoundColumn DataField="E_DATE" HeaderText="E_DATE" 
            SortExpression="E_DATE" UniqueName="E_DATE">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="E_DESCRIPTION" HeaderText="E_DESCRIPTION" 
            SortExpression="E_DESCRIPTION" UniqueName="E_DESCRIPTION">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="E_MOYENNE" DataType="System.Decimal" 
            HeaderText="E_MOYENNE" SortExpression="E_MOYENNE" UniqueName="E_MOYENNE">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="E_PONDERATION" DataType="System.Decimal" 
            HeaderText="E_PONDERATION" SortExpression="E_PONDERATION" 
            UniqueName="E_PONDERATION">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="E_EXAMEN" HeaderText="E_EXAMEN" 
            SortExpression="E_EXAMEN" UniqueName="E_EXAMEN">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="MOYENNE_GR" HeaderText="MOYENNE_GR" 
            SortExpression="MOYENNE_GR" UniqueName="MOYENNE_GR">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="MOYENNE_AFF" HeaderText="MOYENNE_AFF" 
            SortExpression="MOYENNE_AFF" UniqueName="MOYENNE_AFF">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="E_COMP1_STYLE" HeaderText="COMP1 STYLE" AllowFiltering="False" HeaderStyle-Width="60"
            SortExpression="E_COMP1_STYLE" UniqueName="E_COMP1_STYLE">
<HeaderStyle Width="60px"></HeaderStyle>
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="E_COMP2_STYLE" HeaderText="COMP2 STYLE" AllowFiltering="False" HeaderStyle-Width="60"
            SortExpression="E_COMP2_STYLE" UniqueName="E_COMP2_STYLE">
<HeaderStyle Width="60px"></HeaderStyle>
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="E_COMP3_STYLE" HeaderText="COMP3 STYLE" AllowFiltering="False" HeaderStyle-Width="60"
            SortExpression="E_COMP3_STYLE" UniqueName="E_COMP3_STYLE">
<HeaderStyle Width="60px"></HeaderStyle>
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="E_COMP4_STYLE" HeaderText="COMP4 STYLE" AllowFiltering="False" HeaderStyle-Width="60"
            SortExpression="E_COMP4_STYLE" UniqueName="E_COMP4_STYLE">
<HeaderStyle Width="60px"></HeaderStyle>
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="STATUT" HeaderText="STATUT" FilterControlWidth="40"
            SortExpression="STATUT" UniqueName="STATUT">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="NO_ELEVES" DataType="System.Decimal" FilterControlWidth="40"
            HeaderText="NO_ELEVES" SortExpression="NO_ELEVES" UniqueName="NO_ELEVES">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="NO_VIDES" DataType="System.Decimal" FilterControlWidth="40"
            HeaderText="NO_VIDES" SortExpression="NO_VIDES" UniqueName="NO_VIDES">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="NO_ABSENTS" DataType="System.Decimal" 
            HeaderText="NO_ABSENTS" SortExpression="NO_ABSENTS" UniqueName="NO_ABSENTS">
        </telerik:GridBoundColumn>
    </Columns>
        <CommandItemSettings ShowExportToWordButton="true" ShowExportToExcelButton="true" ShowExportToCsvButton="true" 
            ShowExportToPdfButton="false" ShowAddNewRecordButton="false" ShowRefreshButton="true" />
</MasterTableView>
            <ClientSettings AllowDragToGroup="True">
            </ClientSettings>
        </telerik:RadGrid>
        <asp:SqlDataSource ID="SqlDataSource4" runat="server" 
            ConnectionString="<%$ ConnectionStrings:CS_GN %>" 
            ProviderName="<%$ ConnectionStrings:CS_GN.ProviderName %>" >
        <%--<SelectParameters>
            <asp:SessionParameter Name="m_ecole" SessionField="m_ecole" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_classe_code" SessionField="m_classe_code" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_codecours" SessionField="m_codecours" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_strand_code" SessionField="m_strand_code" Type="String" DefaultValue="" />
        </SelectParameters>--%>
        </asp:SqlDataSource>
        <br />
        Choisir évaluations:<span lang="fr-ca"><asp:DropDownList ID="DropDownList3" runat="server" 
            DataSourceID="SqlDataSource6" DataTextField="DESCRIPTION" 
            DataValueField="EVAL_ID" AutoPostBack="True">
        </asp:DropDownList>
        </span>
        
        <br />
        <br />
        Notes des élèves<br /> 
        <telerik:RadGrid ID="RadGrid3" runat="server" AllowFilteringByColumn="True" 
            AllowSorting="True" DataSourceID="SqlDataSource5" GridLines="None" 
            ShowGroupPanel="True" Skin="Hay" AutoGenerateColumns="False">
             <ExportSettings HideStructureColumns="true" ExportOnlyData="true" >
            <Excel Format="ExcelML" />
        </ExportSettings>
        <%--<ClientSettings><Scrolling AllowScroll="true" UseStaticHeaders="true" /></ClientSettings>      --%>
<MasterTableView  CommandItemDisplay="Top">
    <RowIndicatorColumn>
    <HeaderStyle Width="20px"></HeaderStyle>
    </RowIndicatorColumn>
    <ExpandCollapseColumn>
    <HeaderStyle Width="20px"></HeaderStyle>
    </ExpandCollapseColumn>
    <Columns>
        <telerik:GridBoundColumn DataField="PRENOM" HeaderText="PRENOM" 
            SortExpression="PRENOM" UniqueName="PRENOM">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="NOM" HeaderText="NOM" SortExpression="NOM" 
            UniqueName="NOM">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="M_A_QUITTE" HeaderText="M_A_QUITTE" 
            SortExpression="M_A_QUITTE" UniqueName="M_A_QUITTE">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="CC" HeaderText="CC" SortExpression="CC" AllowFiltering="False"
            UniqueName="CC">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="HP" HeaderText="HP" SortExpression="HP" AllowFiltering="False"
            UniqueName="HP">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="CO" HeaderText="CO" SortExpression="CO" AllowFiltering="False"
            UniqueName="CO">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="MA" HeaderText="MA" SortExpression="MA" AllowFiltering="False"
            UniqueName="MA">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="NOTE" HeaderText="NOTE" 
            SortExpression="NOTE" UniqueName="NOTE">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="NOTE_SUR_100" DataType="System.Decimal" 
            HeaderText="NOTE_SUR_100" SortExpression="NOTE_SUR_100" 
            UniqueName="NOTE_SUR_100">
        </telerik:GridBoundColumn>
        <telerik:GridBoundColumn DataField="ABS" HeaderText="ABS" SortExpression="ABS" 
            UniqueName="ABS">
        </telerik:GridBoundColumn>
    </Columns>
    <CommandItemSettings ShowExportToWordButton="true" ShowExportToExcelButton="true" ShowExportToCsvButton="true" 
            ShowExportToPdfButton="false" ShowAddNewRecordButton="false" ShowRefreshButton="true" />
</MasterTableView>
            <ClientSettings AllowDragToGroup="True">
            </ClientSettings>
        </telerik:RadGrid>
       <asp:SqlDataSource ID="SqlDataSource5" runat="server" 
            ConnectionString="<%$ ConnectionStrings:CS_GN %>" 
            ProviderName="<%$ ConnectionStrings:CS_GN.ProviderName %>" >

        <%--<SelectParameters>
            <asp:SessionParameter Name="m_ecole" SessionField="m_ecole" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_classe_code" SessionField="m_classe_code" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_codecours" SessionField="m_codecours" Type="String" DefaultValue="" />
            <asp:SessionParameter Name="m_strand_code" SessionField="m_strand_code" Type="String" DefaultValue="" />
            <asp:ControlParameter ControlID="DropDownList3" Name="EVAL_ID" PropertyName="SelectedValue" Type="String" />
            <asp:SessionParameter Name="m_periode_ref" SessionField="m_periode_ref" Type="String" DefaultValue="" />
        </SelectParameters>--%>

</asp:SqlDataSource>

        <br />
&nbsp;</div>
<div align="right">
    <asp:Label ID="Label1" Font-Names="Arial" Font-Size="Small" runat="server"  Visible="true" EnableViewState="False"></asp:Label>
</div>
 </asp:content>
