﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="testonss.aspx.vb" Inherits="testonss" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
      <title></title>
     
    <%--<script src="js/jquery-1.3.2.js" type="text/javascript"></script>--%>

    <script src="js/jquery.message.pack.js" type="text/javascript"></script>

    <link href="js/jquery.message.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery.message.js" type="text/javascript"></script>

    <script src="js/jquery.message.min.js" type="text/javascript"></script>
    
    <script type="text/javascript">

    function testonss()
        {        
              $("#form1").submit(function(e) {
                    e.preventDefault();
                    $().message($("#message").val());
              });
        }
    </script>
</head>
<body>
<div id="main">
    <form id="form1" runat="server">
            <telerik:RadScriptManager ID="RadScriptManager1" runat="server">
      </telerik:RadScriptManager>
      <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">     
      </telerik:RadAjaxManager>

      <div>
          <input name="message" id="message" />
            <%--<input type="submit"  value="Show message" runat="server" />
            <asp:Button ID="btn1" type="submit"  value="Show message" runat="server" Text="test"  />--%>
          <asp:Button ID="btn2"  value="Show message" Text="test" runat="server" OnClientClick="testonss()"/> 
          <button onclick="testonss()">TEST</button>
          
      </div>
      </form>
      
      
      
      </div>
</body>
</html>
