<%@ Page Language="VB" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>.netCHARTING Sample</title>
		<script runat="server">


Sub Page_Load(sender As [Object], e As EventArgs)
   
   Chart.Type = ChartType.Combo
   Chart.Width = Unit.Parse(600)
   Chart.Height = Unit.Parse(350)
   Chart.TempDirectory = "temp"
   Chart.Debug = True
   Chart.Title = "Axis Ticks Tokens"
   Chart.DefaultSeries.Type=SeriesType.AreaLine

   
   Chart.TitleBox.Position = TitleBoxPosition.FullWithLegend
   Chart.XAxis.Label.Text = "\<\%Value,MMM\>\<\%Value,o\>"
   
   
   ' This sample will demonstrate how to use the %Value token with value axis ticks and manipulate their labels.
   ' X Axis label.
   Chart.XAxis.DefaultTick.Label.Text = "<%Value,MMM>" + ControlChars.Lf + "<%Value,o>"
   
   ' Setup new axis ticks to.
   Dim at As New AxisTick(20, 60, "%Low to %High" + ControlChars.Lf + "(\%Low to \%High)")
   Dim at2 As New AxisTick(70, "<%Value,Currency>" + ControlChars.Lf + "\<\%Value,Currency\>")
   
   ' Add the new ticks.
   Chart.YAxis.ExtraTicks.Add(at, at2)
   
   ' *DYNAMIC DATA NOTE* 
   ' This sample uses random data to populate the chart. To populate 
   ' a chart with database data see the following resources:
   ' - Classic samples folder
   ' - Help File > Data Tutorials
   ' - Sample: features/DataEngine.aspx
   ' Add the random data.
   Chart.SeriesCollection.Add(getRandomData())
End Sub 'Page_Load
 


Function getRandomData() As SeriesCollection
   Dim SC As New SeriesCollection()
   Dim myR As New Random(1)
   Dim dt As New DateTime(2005, 1, 1)
   Dim a As Integer
   For a = 0 To 0
      Dim s As New Series()
      s.Name = "Series " +Convert.ToString(a + 1)
      Dim b As Integer
      For b = 0 To 3
         Dim e As New Element()
         e.YValue = myR.Next(100)
         e.XDateTime = dt.AddDays(4)
         dt=dt.AddDays(4)
         s.Elements.Add(e)
      Next b
      SC.Add(s)
   Next a
   Return SC
End Function 'getRandomData

</script>
	</head>
	<body>
		<div style="text-align:center">
			<dotnet:Chart id="Chart" runat="server" Width="568px" Height="344px">
			</dotnet:Chart>
		</div>
	</body>
</html>
