<%@ Page Language="VB" debug="true" trace="false" Description="dotnetCHARTING Component"%>
<%@ Register tagprefix="dotnet" Tagname="Chart" Src="UserControl_codeBehind.ascx" %>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>.dotnetCHARTING User Control -</title>
</head>
<body>
<form action="usercontrol_codebehind.aspx" runat="server">
<dotnet:Chart runat="server"/>
</form>
</body>
</html>