<%@ Page Language="VB" Description="dotnetCHARTING Component" %>
<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Import Namespace="System.Drawing" %>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>.netCHARTING Sample</title>
		<script runat="server">


Sub Page_Load(sender As [Object], e As EventArgs)
   
   Chart.Type = ChartType.Combo
   Chart.Width = Unit.Parse(600)
   Chart.Height = Unit.Parse(450)
   Chart.TempDirectory = "temp"
   Chart.Debug = True
   
   ' This sample demonstrates how to angle x axis labels.
   ' *DYNAMIC DATA NOTE* 
   ' This sample uses random data to populate the chart. To populate 
   ' a chart with database data see the following resources:
   ' - Classic samples folder
   ' - Help File > Data Tutorials
   ' - Sample: features/DataEngine.aspx
   Dim mySC As SeriesCollection = getRandomData()
   
   mySC(1).XAxis = New Axis()
   mySC(1).XAxis.TickLabelMode = TickLabelMode.Angled
   mySC(1).XAxis.Orientation = dotnetCHARTING.Orientation.Top
   
   Chart.XAxis.TickLabelMode = TickLabelMode.Angled
   
   mySC(1).XAxis.TickLabelAngle = 20
   Chart.XAxis.TickLabelAngle = 160
   
   Chart.XAxis.Label.Text = "160 Degree Angle"
   mySC(1).XAxis.Label.Text = "20 Degree Angle"
   
   mySC(2).XAxis = New Axis()
   mySC(2).XAxis.TickLabelMode = TickLabelMode.Angled
   mySC(2).XAxis.Label.Text = "20 Degree Angle"
   mySC(2).XAxis.TickLabelAngle = 20
   
   mySC(3).XAxis = New Axis()
   mySC(3).XAxis.TickLabelMode = TickLabelMode.Angled
   mySC(3).XAxis.Label.Text = "160 Degree Angle"
   mySC(3).XAxis.TickLabelAngle = 160
   mySC(3).XAxis.Orientation = dotnetCHARTING.Orientation.Top
   
   
   ' Add the random data.
   Chart.SeriesCollection.Add(mySC)
End Sub 'Page_Load
 


Function getRandomData() As SeriesCollection
   Dim SC As New SeriesCollection()
   Dim myR As New Random()
   Dim a As Integer
   For a = 0 To 3
      Dim s As New Series()
      s.Name = "Series " +Convert.ToString(a + 1)
      Dim b As Integer
      For b = 0 To 3
         Dim e As New Element()
         e.Name = "Element " +Convert.ToString(b + 1)
         'e.YValue = -25 + myR.Next(50);
         e.YValue = myR.Next(50)
         s.Elements.Add(e)
      Next b
      SC.Add(s)
   Next a
   
   ' Set Different Colors for our Series
   SC(0).DefaultElement.Color = Color.FromArgb(49, 255, 49)
   SC(1).DefaultElement.Color = Color.FromArgb(255, 255, 0)
   SC(2).DefaultElement.Color = Color.FromArgb(255, 99, 49)
   SC(3).DefaultElement.Color = Color.FromArgb(0, 156, 255)
   
   Return SC
End Function 'getRandomData
		</script>
	</head>
	<body>
		<div style="text-align:center">
			<dotnet:Chart id="Chart" runat="server" Width="568px" Height="344px">
			</dotnet:Chart>
		</div>
	</body>
</html>
